---
title: Data Insights
layout: default
permalink: Data Insights/
---
<div class="inner-container">
  <div class="breadcrumb">
    <p>
      <a class="breadcrumb__link" href="{{site.baseurl}}/">Home</a>
      <img src="{{site.baseurl}}/images/arrow-right-icon.png"
             srcset="{{site.baseurl}}/images/arrow-right-icon%402x.png 2x,
             {{site.baseurl}}/images/arrow-right-icon%403x.png 3x"
             class="arrow-right-icon">
      <span class="breadcrumb__current-page">Data Insights</span>
    </p>
  </div>
  {% for level1 in site.data.nav %}
  {% if level1.title == 'Data Insights' %}
      <h2 class="functional-area-title">{{level1.title}}</h2>
      {% if site.data.global.blurbs %}
      <p class="functional-area-description">{% include DataInsights.ext %}</p>
      <div class="clear"></div>
      {% endif %}
      {% for level2 in level1.level2 %}
      <div class="col-2 card-bg">
        <div class="card-fg">
          <img src="{{site.baseurl}}/documentation/Data%20Insights/{{level2.title | replace: ' ', '%20'}}/images/placard.png"
               srcset="{{site.baseurl}}/documentation/Data%20Insights/{{level2.title | replace: ' ', '%20'}}/images/placard%402x.png 2x,
               {{site.baseurl}}/documentation/Data%20Insights/{{level2.title | replace: ' ', '%20'}}/images/placard%403x.png 3x"
               onerror="this.src='{{site.baseurl}}/images/platforms/default-placard.png'; this.srcset='{{site.baseurl}}/images/platforms/default-placard%402x.png 2x, {{site.baseurl}}/images/platforms/default-placard%403x.png 3x'"
               class="platform-img" />
          <h3 class="title">{{level2.title}}</h3>
          {% if site.data.global.blurbs %}
          <p class="intro platform-intro">{% include DataInsights{{level2.title | remove: " "}}.ext %}</p>
          {% endif %}
        </div>
        {% for level3 in level2.level3 %}
        <a href="{{site.baseurl}}/documentation/Data%20Insights/{{level2.title}}/{{level3.title}}/Introduction">
          <button class="card-btn platform-btn">{{level3.title}}</button>
        </a>
        {% endfor %}
      </div>
      {% endfor %}
      <div class="clear"></div>
  {% endif %}
  {% endfor %}
</div>