<!DOCTYPE html>
<html>
<head>
	<title>Test Armada</title>
	<link rel="stylesheet" type="text/css" href="{{ "/css/normalize.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/common.css" | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{"/css/header.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/home.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/doc.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/training.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/faq.css" | relative_url}}">	
	<link rel="stylesheet" type="text/css" href="{{ "/css/contact.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/search.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/custom.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/slick.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/prism.css" | relative_url}}">
	<link rel="stylesheet" type="text/css" href="{{ "/css/responsive.css" | relative_url}}">
	
</head>
<body>
	
	<header>
		<a href="{{site.baseurl}}/">
			<img src="{{site.baseurl}}{{site.data.assets.logo}}.png" class="logo" alt="Main Brand Logo"
				 srcset="{{site.baseurl}}{{site.data.assets.logo}}%402x.png 2x, {{site.baseurl}}{{site.data.assets.logo}}%403x.png 3x">
		</a>
		<form action="{{site.baseurl}}/search" method="get">
			<input type="text" id="search-box" name="query" placeholder="Search" class="search-box">
			<div class="select-box">
				<select name="fleet" id="fleet-box" onchange="document.getElementById('search-box').focus();">
					<option value="all">All Fleets</option>
					{% for category in site.data.nav %}
					<option value="{{category.title}}">{{category.title}}</option>
					{% endfor %}
				</select>
			</div>
		</form>
		<div class="nav-links">
			<div class="nav-links__fleets">
				<a class="nav-links__fleets-btn">
					Fleets <img src="{{site.baseurl}}/images/arrow-down-icon.png" class="arrow-down-icon"
								srcset="{{site.baseurl}}/images/arrow-down-icon%402x.png 2x,
								{{site.baseurl}}/images/arrow-down-icon%403x.png 3x">
				</a>
				<div class="nav-links__fleets-content">
					<a href="{{site.baseurl}}/">
						All Fleets
					</a>
					{% for category in site.data.nav %}
					<a href="{{site.baseurl}}/{{category.title}}/">
						{{category.title}}
					</a>
					{% endfor %}
				</div>
			</div>
			{% if site.data.global.SSPortalLink %}
			<a href="{{site.data.global.SSPortalLink}}" target="_blank" class="nav-links__main-links">S.S. Portal</a>
			{% endif %}
			{% if site.data.global.faqs == true %}
			<a href="{{site.baseurl}}/faq" class="nav-links__main-links">FAQ</a>
			{% endif %}
			{% if site.data.global.contact == true %}
			<a href="{{site.baseurl}}/contact" class="nav-links__main-links">Contact</a>
			{% endif %}
			{% if site.data.global.githubLink %}
			<a href="{{site.data.global.githubLink}}" target="_blank" class="nav-links__main-links">GitHub</a>
			{% endif %}
		</div>
	</header>

	<div class="container">
		{{content}}
	</div>

	<footer>
		<img class="left-footer-logo" alt="Left Footer Logo"
			 src="{{site.baseurl}}{{site.data.assets.leftFooterLogo}}.png"
			 srcset="{{site.baseurl}}{{site.data.assets.leftFooterLogo}}%402x.png 2x,
			 {{site.baseurl}}{{site.data.assets.leftFooterLogo}}%403x.png 3x">
		{% if site.data.global.copyright %}
		<span class="copyright">{{site.data.global.copyright}}</span>
		{% endif %}
		<img class="right-footer-logo" alt="Right Footer Logo"
			 src="{{site.baseurl}}{{site.data.assets.rightFooterLogo}}.png"
			 srcset="{{site.baseurl}}{{site.data.assets.rightFooterLogo}}%402x.png 2x,
			 {{site.baseurl}}{{site.data.assets.rightFooterLogo}}%403x.png 3x">
	</footer>

</body>
</html>
