---
layout: default
---
  <div class="clear"></div>
<div class="doc-container">
  <div class="breadcrumb doc-breadcrumb">
    <p>
      <a class="breadcrumb__link" href="{{site.baseurl}}/">Home</a>
      <img src="{{site.baseurl}}/images/arrow-right-icon.png"
           srcset="{{site.baseurl}}/images/arrow-right-icon%402x.png 2x,
           {{site.baseurl}}/images/arrow-right-icon%403x.png 3x"
           class="arrow-right-icon">
      <a class="breadcrumb__link" href="{{site.baseurl}}/{{page.level1}}/">{{ page.level1 }}</a>
      <img src="{{site.baseurl}}/images/arrow-right-icon.png"
           srcset="{{site.baseurl}}/images/arrow-right-icon%402x.png 2x,
           {{site.baseurl}}/images/arrow-right-icon%403x.png 3x"
           class="arrow-right-icon">
      <a class="breadcrumb__link" href="{{site.baseurl}}/documentation/{{page.level1}}/{{ page.level2 }}/{{ page.level3 }}/Introduction">{{ page.level2 }} {{ page.level3 }}</a>
      <img src="{{site.baseurl}}/images/arrow-right-icon.png"
           srcset="{{site.baseurl}}/images/arrow-right-icon%402x.png 2x,
           {{site.baseurl}}/images/arrow-right-icon%403x.png 3x"
           class="arrow-right-icon">
      <a class="breadcrumb__link" href="{{site.baseurl}}/{{page.level1}}/{{ page.level2 }}/{{ page.level3 }}/Training Guide/">Training Guide</a>
      <img src="{{site.baseurl}}/images/arrow-right-icon.png"
           srcset="{{site.baseurl}}/images/arrow-right-icon%402x.png 2x,
           {{site.baseurl}}/images/arrow-right-icon%403x.png 3x"
           class="arrow-right-icon">
      <span class="breadcrumb__current-page">{{ page.course }}</span>
    </p>
  </div>
  <div class="clear"></div>
  <div class="training-container">
    {{content}}
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript">
  var elements = document.getElementsByTagName('pre');
  for (var i = 0; i < elements.length; i++) {
    elements[i].className += " line-numbers";
    if (!elements[i].children[0].className) {
      elements[i].children[0].className = "language-javascript";
    }
  }
</script>
<script type="text/javascript" src="{{site.baseurl}}/js/prism.js"></script>